<div class="menu-container" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<a th:href="@{/}">Home</a> | <a th:href="@{/register}">Register</a>

	<th:block sec:authorize="hasAnyRole('ROLE_CUSTOMER')">
		| <a th:href="@{/productList}"> Product List </a> 
		| <a th:href="@{/shoppingCart}"> My Cart </a>
	</th:block>

	<th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EMPLOYEE')">
		| <a th:href="@{/productList}"> Product List </a> 	
		| <a th:href="@{/admin/userList}"> User List </a>
		| <a th:href="@{/admin/orderList}"> Order List </a>
	</th:block>

	<th:block sec:authorize="hasRole('ROLE_ADMIN')">
		| <a th:href="@{/admin/product}"> Create Product </a>
	</th:block>
</div>