<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sporty Shoes Online</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">Change Password</div>
	<div class="demo-container">
		<form method="POST" th:action="@{/changePassword}">
			<table>
				<tr>
					<td>Old Password *</td>
					<td><input type="password" name="oldPassword" /></td>
				</tr>
				<tr>
					<td>New Password *</td>
					<td><input type="password" name="newPassword" /></td>
				</tr>
				<tr>
					<td>Confirm New Password *</td>
					<td><input type="password" name="confirmPassword" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" value="Submit" /> <input
						type="reset" value="Reset" /></td>
				</tr>
			</table>
		</form>
		<span class="error-message" th:utext="${error}"></span>

	</div>
	<th:block th:include="/_footer"></th:block>
</body>
</html>